.cssWidgetContainer[data-widget-conf='0'] {
  div[data-widget-name='topic-subscriber'] {
    border: 1px solid white;
  }
}

div[data-widget-name='topic-subscriber'] {
  float: left;
  height: 100%;
  width: 100%;
  overflow: hidden;
  div.header {
    background-color: #aee;
    border-bottom: 1px solid white;
    p {
      text-align: center;
      padding: 0 10px;
    }
    p.name {
      font-weight: bold;
    }
    p.type {
      font-style: italic;
    }
  }
  div.datatopic1 {
    padding: 10px;
  }
}

#batteryBody {
  float: left;
  width: 200px;
  height: 75px;
  border: 10px white solid;
}
.container {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.batteryEnd {
  float: left;
  height: 95px;
  width: 15px;
}
.batteryEnd div {
  width: 15px;
  height: 35px;
  margin-top: 20px;
  margin-left: 5px;
  background-color: white;
}
#indicator {
  height: 100%;
  width: 50%;
}
#indicator.charging {
  background-color: rgb(1, 129, 33);
}
#indicator.high {
  background-color: rgb(47, 202, 0);
}
#indicator.mid {
  background-color: rgb(221, 224, 20);
}
#indicator.low {
  background-color: rgb(233, 36, 36);
}

#percent {
  margin-left: 5px;
  font-size: x-large;
}